<h1>Listing pvendors</h1>

<table>
  <tr>
    <th>Number</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pvendors.each do |pvendor| %>
  <tr>
    <td><%= pvendor.number %></td>
    <td><%= pvendor.name %></td>
    <td><%= link_to 'Show', pvendor %></td>
    <td><%= link_to 'Edit', edit_pvendor_path(pvendor) %></td>
    <td><%= link_to 'Destroy', pvendor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pvendor', new_pvendor_path %>
